<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Book Recommendation System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <style>
            a:hover {
                background-color: transparent;
                text-decoration: underline;
            }
            .text-white{
                color:white;
            }
        </style>
    </head>
    <body style="background-color: black">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00a65a">
            <a class="navbar-brand" href="#">My Book Recommender</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/recommend">Recommend</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-white" style="font-size: 50px;">Search Books</h1>
                    <h4 class="text-white" style="font-size: 20px;">Enter Author name:</h4>
                        <form action="/byauthor_books" method="post">
                            <input name="user_input" class="form-control form-control-lg"><br>
                            <input type="submit" class="btn btn-lg btn-warning">
                        </form>
                    </div>
                    <div class="row">
                        {% if data %}
                            {% for i in data %}
                                <div class="col-3" style="margin-top:50px">
                                    <div class="card">
                                        <div class="card-body">
                                            <img class="card-img-top" src="{{ i[2] }}" alt="Book Image">
                                            <p>{{ i[0] }}</p>
                                            <p>{{ i[1] }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>  
            
        </div>
    </body>
</html>
